* {
  margin: 0;
  padding: 0;
}

$color: yellow;

html::-moz-selection {
  background-color: $color;
  color: black;
}

html::selection {
  background-color: $color;
  color: black;
}

body {
  overflow-x: hidden !important;
  width: 100vw;
  background-color: #f1f1f1;
  &::-webkit-scrollbar {
    width: 1.5vw;
    max-width: 12px;
    background-color: lightgray;
  }
  &::-webkit-scrollbar-thumb {
    border: 0.5px groove black;
    border-radius: 500px;
    background-color: gray;
  }
}

nav {
  width: 100%;
  background-color: $color;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  font-family: sans-serif;
  h1 {
    margin: 0px auto;
  }
}

.createNoteContainer {
  border-radius: 6px;
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  width: 90%;
  box-sizing: border-box;
  padding: 25px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  position: relative;
  background: white;
  input,
  textarea {
    border: none;
    width: 100%;
    font-family: sans-serif;
    &.inputNoteTitle {
      font-size: 26px;
      font-weight: bold;
    }
    &.inputNoteDisc {
      min-height: 70px;
      height: auto;
      resize: none;
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  .addNoteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
    font-size: 31px;
    aspect-ratio: 1/1;
    border: none;
    background-color: $color;
    color: black;
    border-radius: 100px;
    position: absolute;
    bottom: 0%;
    transform: translateY(50%);
    right: 5%;
    &:hover {
      background-color: white;
    }
  }
}
.noteContainer {
  display: grid;
  column-gap: 30px;
  row-gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  width: 90%;
  margin: auto;
  .noteWrapper {
    border-radius: 6px;
    box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.25);
    padding: 25px;
    height: 150px;
    width: 80%;
    max-width: 400px;
    position: relative;
    background: white;
    .note {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-family: system-ui;
    }
    button.deleteNoteBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
      font-size: 31px;
      aspect-ratio: 1/1;
      border: none;
      background-color: #fffdc3;
      color: black;
      border-radius: 100px;
      position: absolute;
      bottom: 0%;
      transform: translateY(50%);
      right: 5%;
      &:hover {
        background-color: white;
      }
    }
  }
}
